<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
   <head>
      <title>Shopping List Check Off</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="styles/bootstrap.min.css">
      <link rel="stylesheet" href="styles/main.css">
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
   </head>
   <body>
      <div class="container">
         <h1>Shopping List Check Off</h1>
         <div class="row">
            <!-- To Buy List -->
            <div class="col-md-6" ng-controller='ToBuyController as toBuy'>
               <h2>To Buy:</h2>
               <ul>
                  <li ng-repeat="item in toBuy.itemsToBuy">
                     <p>Buy <input type="number" ng-model="item.quantity" /> {{item.name}}</p>
                     <button class="button btn-primary" ng-click="toBuy.buyItem($index)">Bought</button>
                  </li>
               </ul>
               <div class="emptyMessage" ng-if='toBuy.itemsToBuy.length == 0'>Everything is bought!</div>
            </div>
            <!-- Already Bought List -->
            <div class="col-md-6" ng-controller='AlreadyBoughtController as alreadyBought'>
               <h2>Already Bought:</h2>
               <ul>
                  <li ng-repeat="item in alreadyBought.boughtItems">
                     <p>Bought {{item.quantity}} of {{item.name}} for total price of {{ item | itemTotal }}</p>
                  </li>
               </ul>
               <div class="emptyMessage" ng-if='alreadyBought.boughtItems.length == 0'>Nothing bought yet.</div>
            </div>
         </div>
      </div>
   </body>
</html>