.card {
	background-color: gray;	
	padding: 18px;
	margin: 15px 0px;
}

h1 {
	margin-bottom: 20px;
	font-size: 30px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 14px;
}

.navbar-brand {
	font-size: 30px;
	color: black !important;
}

.navbar-header {
	padding: 15px;
}

.row {
	padding-left: 15px;
	padding-right: 15px;
}